<div class="d-grid gap-2 d-md-flex justify-content-md-end m-3">
  <a
    type="button"
    href="item/add"
    class="btn btn-primary btn-lg m-3 right-3 text-right fs-6"
  >Add New Item</a>

</div>

<div class="m-5">
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <th scope="row">{{this.name}}</th>
          <td>{{this.category}}</td>
          <td>{{this.status}}</td>
          <td><a
              href="item/view?id={{this._id}}"
              type="button"
              class="btn btn-info"
            >Details</a>
            <a
              href="item/delete?id={{this._id}}"
              type="button"
              class="btn btn-danger"
            >Delete</a></td>

        </tr>
      {{/each}}

    </tbody>
  </table>
</div>